.edit-event {
    background: linear-gradient(#fa7406, #f58032);
    color: #ffffff;
    font-size: 1.8rem;
    padding: 25px;
}

.edit-event__input-group {
    background: linear-gradient(#6dd8f3, #52d4eb);
    color: #ffffff;
    font-size: 1.8rem;    
}

button {
    background: linear-gradient(#fa7406, #f58032);
    color: #ffffff;
    margin: 20px;
    padding: 5px;
    font-size: 2.8rem;   
}